#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hero-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  width: 100%;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}   

.top-buttons {
  position: center;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  z-index: 1000;
}

.scan-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.scan-button {
  background-color: #689884;
  border: none;
  padding: 15px 150px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.scan-button:hover {
  background-color: #99B8A2;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
